/*setear css*/

body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #303030;

}
/*clases reutilizables*/

.text-uppercase{
  text-transform: uppercase;
}

/*clases especifias*/

li a{
  text-decoration: none;
  color: inherit;
}

ul li{
  list-style: none;
  display: inline;
  margin: 5px;
}

.logo-header{
  width: 200px;
}
header{
  position: relative;

}

nav{
  position: absolute;
  right: 5%;
  top: 5%;
  transform:translateY(-50%);
}

.box-header{
  display: inline-block;
}
