/*setear css*/

body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #303030;

}
/*clases reutilizables*/

.text-uppercase{
  text-transform: uppercase;
}

/*clases especifias*/

li a{
  text-decoration: none;
  color: inherit;
}

li a:hover{
  color: #db964a;
}

ul li{
  list-style: none;
  display: inline;
  margin: 5px;
}

.logo-header{
  width: 200px;
}
header{
  position: relative;

}

nav{
  position: absolute;
  right: 5px;
  top: 50%;
  transform:translateY(-50%);
}

.box-header{
  display: inline-block;
}

.logo-square{
  width: 100px;
}

section{
  text-align: center;

}

div{
  display: inline-block;
  width: 33%;
  padding: 2px;
  box-sizing: border-box;

}

[class^="icon-"], [class*="icon"]{
  font-size: 30px;
}

footer{
  background-color: #303030;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.btn{

  background-color: #db664a;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
